    <!-- ======= Features Section ======= -->
    <section id="features" class="features" *ngIf="(connected && !connected.siteFeed)|| !connected" style="height: 500px;">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Avis Clients</h2>
            <p>Votre avis nous interesse ! pour pouvoir nous amèliorer .</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="300">
            
            
            <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                  <!-- card 1  -->
                  <div class="card" style="width: 18rem;margin-left: 90px;">
                    <div class="card-body">
                      <h5 class="card-title">DONIA</h5>
                      <h6 class="card-subtitle mb-2 text-muted">11/05/2022</h6>
                      <p class="card-text">Deux techniciens dispo et efficaces en quelques heures.. Ce juste chez Snay3i 👌</p>
                    </div>
                  </div>
                  <!-- /card 1  -->
                  <!-- card 2  -->
                  <div class="card" style="width: 18rem;margin-left: 90px;">
                    <div class="card-body">
                      <h5 class="card-title">Chiheb Taboubi</h5>
                      <h6 class="card-subtitle mb-2 text-muted">09/05/2022</h6>
                      <p class="card-text">نحب نقدم تحية شكر و تقدير 🥰🥰❤️❤️❤️على تفانيهم في العمل و حرصهم الدائم من أجل التميز وان شاء الله ربي عينكم ويبركلكم</p>
                    </div>
                  </div>
                  <!-- /card 2  -->
                  <!-- card 3  -->
                  <div class="card" style="width: 18rem;margin-left: 90px;">
                    <div class="card-body">
                      <h5 class="card-title">Sawssen Yaich </h5>
                      <h6 class="card-subtitle mb-2 text-muted">07/05/2022</h6>
                      <p class="card-text">Mercii Snay3i équipe professionnel surtout ponctuel et rapide 😊.</p>

                    </div>
                  </div>
                  <!-- /card 3 -->
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                  <!-- card 1  -->
                  <div class="card" style="width: 18rem;margin-left: 90px;">
                    <div class="card-body">
                      <h5 class="card-title">Donia Barkati</h5>
                      <h6 class="card-subtitle mb-2 text-muted">02/05/2022</h6>
                      <p class="card-text">Aucun souci ne pourrait gâcher mes journées dorénavant DaryDar is the best 😍
                        Toujours l'équipe est fascinante par la rapidité et la perfection du service 👌
                        Bravoooo je recommande 5/5</p>
                    </div>
                  </div>
                  <!-- /card 1  -->
                  <!-- card 2  -->
                  <div class="card" style="width: 18rem;margin-left: 90px;">
                    <div class="card-body">
                      <h5 class="card-title">Lili Ben Ounaissa</h5>
                      <h6 class="card-subtitle mb-2 text-muted">27/04/2022</h6>
                      <p class="card-text">la rapidité et la compétence on ne peut  donner que la meilleure note vraiment bravo !!</p>
                    </div>
                  </div>
                  <!-- /card 2  -->
                  <!-- card 3  -->
                  <div class="card" style="width: 18rem;margin-left: 90px;">
                    <div class="card-body">
                      <h5 class="card-title">Rym Memmi </h5>
                      <h6 class="card-subtitle mb-2 text-muted">20/04/2022</h6>
                      <p class="card-text">je suis très satisfaite par la ponctualité la rapidité du service et les prix correct 
                        un grand merci ! 
                        bonne continuation😊.</p>

                    </div>
                  </div>
                  <!-- /card 3 -->
                  </div>
                </div>
               
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
                
                
             
          </div>
          
  
        </div>
      </section><!-- End Features Section -->
  