    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>A PROPOS </h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                SNAY3I , Une plateforme complète de mise en relation entre demandeurs de service et les prestataires.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i>  Des techniciens hautement qualifiés</li>
                <li><i class="ri-check-double-line"></i> Disponible dans les plus brefs délais.</li>
                <li><i class="ri-check-double-line"></i> Des dépanneurs de confiance à des prix doux</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <p>
                Nous sommes une société de service qui opère dans le bâtiment. Cela fait des années que nous participons d’une manière très active au développement dans le domaine de la construction. Durant toute cette période nos équipes ont acquis la maitrise nécessaire pour la bonne conduite des projets dont ils assurent l’étude, la conception, le dimensionnement et l’exécution des travaux d’installations techniques liés aux bâtiments.
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->