 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center" style="margin-top: 100px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Intervention rapide et efficace avec snay3i</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">qui vous offre les meilleurs techniciens pour la réparation de votre chasse, chaudière, réparation de masse électrique et maintenance de climatiseur</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <ng-container *ngIf="!connected">
              <a type="button" (click)="signup()" class="btn-get-started scrollto">S'inscrire</a>
            </ng-container>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/vectors/Maintenance-amico.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->