    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Nous joindre</h2>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="contact-about">
                <h3>Snay3i</h3>
                <p>La meilleure plateforme qui permet de mettre en relation les clients avec des techniciens afin de faciliter le processus de trouver un technicien pour maintenir une panne urgente tout en bénéficiant de l’expertise de Snay3i. </p>
                <div class="social-links">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
              <div class="info">
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p>06 impasse dubai<br>Le Kram, 2015</p>
                </div>
  
                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>bensmidaslim174@gmail.com</p>
                </div>
  
                <div>
                  <i class="ri-phone-line"></i>
                  <p>+216 29 926 407</p>
                </div>
  
              </div>
            </div>
  
            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
              <div class="mapouter"><div class="gmap_canvas"><iframe width="444" height="444" id="gmap_canvas" src="https://maps.google.com/maps?q=yasmine%20tower&t=k&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:444px;width:444px;}</style><a href="https://www.embedgooglemap.net">google maps on my website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:444px;width:444px;}</style></div></div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->