      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Veuillez choisir un service</p>
          </div>
          
          
          <div class="row" >
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" (click)="orderP()">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <img class="icon" src="assets/icons/1207254.png" alt="">
                <h4 class="title"><a href="">Plomberie</a></h4>
                <p class="description">Plus de l'installation et de la réparation, l'entretien plomberie est très importante pour assurer le bon fonctionnement des systèmes...</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" (click)="orderE()">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <img class="icon" src="assets/icons/1257550.png" alt="">
                <h4 class="title"><a href="">Electricité</a></h4>
                <p class="description">Si vous êtes à la recherche d’un électricien de qualité ? Avoir une installation électrique sûre et fiable c’est combiner des compétences spécifiques avec une expérience du métier...</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" (click)="orderC()">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <img class="icon" src="assets/icons/1246984.png" alt="">
                <h4 class="title"><a href="">Climatisation</a></h4>
                <p class="description">Si votre climatiseur est en panne et nécessite des services d’installation et de réparation en urgence, vous êtes au bon endroit...</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" (click)="orderH()">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <img class="icon" src="assets/icons/1247789.png" alt="">
                <h4 class="title"><a href="">Chauffage</a></h4>
                <p class="description">Vous cherchez un chauffagiste pour le dépannage de votre chauffage ? Ne vous inquiétez pas nous avons les meilleurs dans ce domaine...</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->